
<div *ngIf='!numeros'>
    Cargando...   
</div>
<div *ngIf='numeros'>
    {{numeros}}
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First position</th>
        <th scope="col">Last position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of numeros; let indice = index;'>
        <th scope="row">{{indice+1}}</th>
        <td>{{item}}</td>
        <td>{{getOcurrencia()}}</td>
        <td>0</td>
        <td>{{numeros.length}}</td>
      </tr>
      
    
    </tbody>
    
  </table>
